body {
    background-color: #222;
    margin: 0;
    padding: 0;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

li {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategray;
}

.listContainer {
    margin-bottom: 20px;
}

.banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    background-color: darkslategray;
    padding-right: 20px;
}

#topBanner {
    background-color: darkslategray;
    padding: 20px;
    text-align: center;
    color: #222;
}

.header0 {
    color: aquamarine;
}

.form-container {
    margin: 20px;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

label, textarea, input, button {
    margin-bottom: 10px;
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
}

input {
    background-color: #444;
    color: #eee;
}

#appName {
    width: 30ch;
}

textarea {
    color: #eee;
    background-color: #444;
    resize: vertical;
}

#infoContainer {
    margin: 20px;
    text-align: center;
}

p {
    line-height: 1.6;
}