/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #232323;
    color: #f0f0f0;
}

#infoContainer {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.banner {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Header styles */
.header0 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

/* Form styles */
.form-container form {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
}

.buttons-container {
    text-align: center;
    margin-top: 10px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

/* List styles */
.listContainer {
    margin-top: 20px;
}

.listContainer ul {
    list-style: none;
    padding: 0;
    background-color: #2c2c2c;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.listContainer li {
    padding: 20px;
    border-bottom: 1px solid #444;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #999;
    text-align: center;
    padding: 10px;
}
