### Your created .env should be like this ###

OPENAI_API_KEY='sk-YOURKEY'
MONGO_DB_PASSWORD='blablalba'
DB_URL="mongodb+srv://blablablaa.mongodb.net/?retryWrites=true&w=majority"

### You need to obtain all keys and db yourself ###
